@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}

.title{
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  margin: 0;
}

.form{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    height: 300px;
    bottom: 500px;
    width: 650px;
    background-color: rgba(255, 255, 255, 0.088);
    padding: 10px;
    padding-bottom: 300px;
    margin-bottom: 120px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.313);
    color: aliceblue;
}

#nameinput {
  width: 450px;
  background-color: lightsteelblue;
}

#releaserating {
  display: flex;
  justify-content: space-evenly;
}

#releasebox {
  background-color: lightsteelblue;
}


/* .divdiv{
    display: flex;
    align-content: space-around;
} */

.divTitles{
    display: flex;
    flex-direction: row;
}

.label{
    width: 145px;
    border: 1px solid black;
    border-radius: 10px;
    background: none;
    margin: 5px;
}

.label:hover{
    cursor: pointer;
}

.checkboxs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 650px;
    margin-top: 30px;
    margin-bottom: 30px;
  
}

.gendivs{
    display: flex;
    
}

.perro{
    display: flex;
    justify-content: space-evenly;
}

.imagein{
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background: none;
    margin: 5px;
}
